# Q1

 학점에 따라서 우등 졸업 여부가 다음과 같이 결정된다고 하자

 GPA >= 3.9  summa cum laude <br>
 GPA >= 3.6  magna cum laude <br>
 GPA >= 3.3  cum laude

### Q1-(1)

 학점을 float값으로 가지고 있는 변수 my_gpa를 생성하고 임의의 학점을 할당하시오. <Br>
 예를 들어, 만일 my_gpa값이 3.75이면 다음과 같이 출력이 되도록 코드를 작성하시오.

Your gpa is 3.75. <br>
You graduate magna cum laude

In [1]:
my_gpa = 3.5

In [18]:
print("Your gpa is {}".format(my_gpa))
if my_gpa>=3.9 :
    print("You graduate summa cum laude")
elif my_gpa>=3.6:
    print("You graduate magna cum laude")
elif my_gpa>=3.3:
    print("You graduate cum laude")

Your gpa is 3.5
You graduate cum laude

### Q1-(2)

my_gpa 값에 따라 우등 졸업 여부를 출력하는 코드를 작성하시오.<BR>
학점이 3.2이상인 경우, You graduate 를 출력. 그렇지 않다면 Fail 을 출력.

In [17]:
my_gpa = float(input())
if my_gpa>=3.2 :
    print("You graduate")
else :
    print("Fail")

 3.5

You graduate

# Q2

다음처럼 구구단을 출력하는 코드를 작성하시오. (While 문 과 For문 version 두 가지를 작성할 것)

### Q2-(While문)

In [3]:
a = 2 
b = 1
while a <10:
    print("{} times table =============".format(a))
    while b<10:
        print("{0} * {1} = {2}".format(a,b,a*b))
        b +=1
    a +=1
    b= 1
print("=============End=================")

2 times table =============
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 times table =============
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 times table =============
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 times table =============
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 times table =============
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 times table =============
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 times table =============
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 times table =============
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
=============End=================

### Q2-(For문)

In [6]:
for a in range(2,10) :
    print("{} times table ==========".format(a))
    for b in range(1,10) :
        print("{0} * {1} = {2}".format(a,b,a*b))
print("=================End=============")

2 times table ==========
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 times table ==========
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 times table ==========
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 times table ==========
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 times table ==========
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 times table ==========
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 times table ==========
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 times table ==========
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
=================End=============

# Q3

중앙값은 평균과 함께 자주 쓰이는 통계량이다. 아래 각각의 리스트들의 중앙값을 출력하는 코드를 작성하시오. <BR><BR>
    
[7, 9, 14] = 9 <bR>
[24, 31, 35, 49] = 33<BR> 
[17, 37, 37, 47, 57] = 37 <br>
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19] = 10 <br><br>
    중앙값 : 자료를 작은 값에서부터 크기순으로 나열할 때 중앙에 위치한 값 <br>
① 자료의 개수가 홀수이면 가운데 위치한 값이 중앙값이다. <br>
② 자료의 개수가 짝수이면 가운데 위치한 두 값의 평균이 중앙값이다.

In [76]:
a= [7,9,14]
size=len(a)
if size%2 ==0:
    i = size /2
    j = size /2 -1
    print(int((a[int(i)]+a[int(j)])/2))
else:
    i = size /2
    print(a[int(i)])

9

In [72]:
b=[24,31,35,49]
size =len(b)
if size%2 ==0:
    i = size /2
    j = size /2 -1
    print(int((b[int(i)]+b[int(j)])/2))
else:
    i = size /2
    print(b[int(i)])

33

In [66]:
c=[17,37,37,47,57]
size =len(c)
if size%2 ==0:
    i = size /2
    j = size /2 -1
    print(int((c[int(i)]+c[int(j)])/2))
else:
    i = size /2
    print(c[int(i)])

37

In [2]:
d=[1,3,5,7,9,11,13,15,17,19]
size =len(d)
if size%2 ==0:
    i = size /2
    j = size /2 -1
    print(float((d[int(i)]+d[int(j)])/2))
else:
    i = size /2
    print(d[int(i)])

10.0

# Q4

10미만의 자연수에서 3과 5의 배수를 구하면 3,5,6,9이다. 이들의 총합은 23이다. <BR>
10000미만의 자연수에서 3,5의 배수의 총합을 구하는 코드를 작성하시오.

In [83]:
sum = 0
for a in range(1,10000):
    if a%3==0 or a%5==0 :
        sum += a
sum

23331668

# Q5

10 ~ 15 까지의 각 숫자의 개수를 구해보자 <br>
10 = 1, 0<br>11 = 1, 1<br>12 = 1, 2<br>13 = 1, 3<br>14 = 1, 4<br>15 = 1, 5 <br>
그러므로 이 경우의 답은 0:1개, 1:7개, 2:1개, 3:1개, 4:1개, 5:1개 이 된다.<br><br>

1~1000까지 각 숫자의 개수를 담고 있는 Dictionary를 최종 결과로 출력하는 코드를 작성하시오.

In [132]:
dic={0:0,1:0,2:0,3:0,4:0,5:0,6:0,7:0,8:0,9:0}
for num in range(1,1001):
    if num<10:
        dic[num] += 1
    elif num>=10 and num<100:
        dic[int(num/10)] += 1
        dic[int(num%10)] += 1
    elif num>=100 and num<1000:
        dic[int(num/100)] += 1
        dic[int((num%100)/10)] += 1
        dic[int((num%100)%10)] += 1
    else:
        dic[int(num/1000)] +=1
dic

{0: 189,
 1: 301,
 2: 300,
 3: 300,
 4: 300,
 5: 300,
 6: 300,
 7: 300,
 8: 300,
 9: 300}

# Q6

In [170]:
maxx = 0
for one in range(100,1000):
    for two in range(100,1000):
        number=one*two
        if number>=100000:
            a = int(number/100000) ## 십만자리
            b = int((number-(a*100000))/10000) ##만자리
            c = int((number-(a*100000+b*10000))/1000) ## 천자리
            d = int((number-(a*100000+b*10000+c*1000))/100) ##백자리
            e = int((number-(a*100000+b*10000+c*1000+d*100)/10)) ##십자리
            f = number-(a*100000+b*10000+c*1000+d*100+e*10) ## 일의자리
            if a == f and b==e and c==d:
                 if maxx < number :
                    maxx = number

print(maxx)

0