## Q1

변수 a와 b가 각각 다음과 같이 선언되어 있을 때 변수 summation, multiply, divide, remainder, power를 다음의 값을 가지도록 만들어 보세요.

summation은 a와 b의 합 <br>
multiply는 a와 b의 곱 <br>
divide는 a를 b로 나눈 값 <br>
remainder는 a를 b로 나눈 나머지<br>
power는 a의 b승<br>

print("summation은 {}입니다.".format(summation))<br>
print("multiply는 {}입니다.".format(multiply))<br>
print("divide는 {}입니다.".format(divide))<br>
print("remainder는 {}입니다.".format(remainder))<br>
print("power는 {}입니다.".format(power))

In [6]:
a=4 
b=2
summation=a+b
multiply=a*b
divide=a/b
remainder=a%b
power=a**b

In [7]:
print("summation은 {}입니다.".format(summation))
print("multiply는 {}입니다.".format(multiply))
print("divide는 {}입니다.".format(divide))
print("remainder는 {}입니다.".format(remainder))
print("power는 {}입니다.".format(power))

summation은 6입니다.
multiply는 8입니다.
divide는 2.0입니다.
remainder는 0입니다.
power는 16입니다.

## Q2

시험 점수의 평균 점수를 구해 보자

| 과목 | 점수|
|---|---|
|국어|80|
|영어|75|
|수학|55|
|과학|82|

In [9]:
A=80
B=75
C=55
D=82

In [10]:
ave=(80+75+55+82)/4
ave

73.0

## Q3

철수의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYY-MM-DD) 부분과 성별을 설명하는 뒷자리 첫번째 자리를 출력하도록 해보자

In [11]:
num="881120-1068234"

In [35]:
a=num[0:2]
b=num[2:4]
c=num[4:6]
s=num[7:8]

In [29]:
"19{0}-{1}-{2}".format(a,b,c)

'1988-11-20'

In [36]:
if s=='1':
    print("남자입니다")
else:
    print("여자입니다")

남자입니다

## Q4

다음과 같은 문자열 a:b:c:d:E:F:G:H가 있다. 문자열 관련 함수를 사용하여 a#b#c#d#e#f#g#h로 바꿔서 출력해 보자.

In [39]:
a="a:b:c:d:E:F:G:H"
a=a.lower()
a.replace(":","#")

'a#b#c#d#e#f#g#h'

## Q5

[1, 3, 5, 4, 2, 6] 리스트를 [6, 5, 4, 3, 2, 1]로 만들어 보자.

In [41]:
a=[1,3,5,4,2,6]
a.sort()
a.reverse()
a

[6, 5, 4, 3, 2, 1]

## Q6

['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [43]:
a=['Life','is','too','short']
a[0]+" "+a[1]+" "+a[2]+" "+a[3]

'Life is too short'

## Q7

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5] 의 리스트에서 중복 숫자를 제거해 출력해 보자.

In [45]:
a=[1,1,1,2,2,3,3,3,4,4,5]
a=set(a)
a

{1, 2, 3, 4, 5}

## Q8

 리스트 regions는 4개의 튜플을 가지고 있으며, 각 튜플을 미국 4개 지역의 이름과 인구수(백만 명) 정보를 제공합니다. <br>
 “Northeast”, 55.3 <br>
 “Midwest”, 66.9 <br>
 “South”, 114.6 <br>
 “West”, 71.9 <br>
 미국 전체 인구는 4지역 인구의 합이다. 미국 전체 인구를 구해봅시다<br>
 최종적으로 다음과 같은 결과를 출력해봅시다. (지역과 인구수는 fomatting을 이용해 출력)<br>
<결과><br>
The population of the Northeath is 55.3 million.<br>
The population of the midwest is 66.9 million.<br>
The population of the South is 114.6 million.<br>
The population of the West is 71.9 million.<br>
The total population of USA is 308.7 million.

In [53]:
regions=(("Northeast",55.3),("Midwest",66.9),("South",114.6),("West",71.9))
USA = (regions[0][1]+regions[1][1]+regions[2][1]+regions[3][1])

In [62]:
print("The population of the {0} is {1} million.".format(regions[0][0],regions[0][1]))
print("The population of the {0} is {1} million.".format(regions[1][0],regions[1][1]))
print("The population of the {0} is {1} million.".format(regions[2][0],regions[2][1]))
print("The population of the {0} is {1} million.".format(regions[3][0],regions[3][1]))
print("The total population of USA is {0:0.1f} million".format(USA))

The population of the Northeast is 55.3 million.
The population of the Midwest is 66.9 million.
The population of the South is 114.6 million.
The population of the West is 71.9 million.
The total population of USA is 308.7 million

## Q9

 다음 3 사람의 이름과 전화번호를 딕셔너리로 만들어 봅시다. 단 이름은 key로 전화번호는 value로 사용하세요<br>
 Kim, 010-8888-1234 <br>
 Lee, 010-9999-2345 <br>
 Park, 010-0001-5432<br>
 Kim의 전화번호를 출력해봅시다(인덱스를 사용할 것).<br>
 Lee의 전화번호를 get() 함수를 사용하여 출력해봅시다.<br>
다음 사람에 대한 전화번호를 추가해봅시다.<br>
 Choi, 010-2222-3344<br>
 전체 key들을 리스트로 변환하여 출력해봅시다.<br>
 전체 value들을 리스트로 변환하여 출력해봅시다

In [65]:
a= {'Kim':'010-8888-1234','Lee':'010-9999-2345','park':'010-0001-5432'}
a['Kim']

'010-8888-1234'

In [67]:
a.get('Lee')

'010-9999-2345'

In [69]:
a['Choi']='010-2222-3344'
a

{'Kim': '010-8888-1234',
 'Lee': '010-9999-2345',
 'park': '010-0001-5432',
 'Choi': '010-2222-3344'}

In [70]:
a.keys()

dict_keys(['Kim', 'Lee', 'park', 'Choi'])

In [72]:
a.values()

dict_values(['010-8888-1234', '010-9999-2345', '010-0001-5432', '010-2222-3344'])

## Q10

다음과 같이 세 가지의 집합을 만들어 봅시다. <br>
A∩B∩C를 구해봅시다. <br>
 AUBUC를 구해봅시다.<br>
A-(BUC)를 구해봅시다<br>
C에 11을 원소로 추가해보세요.<br>
B에 15, 18을 한꺼번에 추가해보세요<br>

In [74]:
A=set([1,3,5,7,9])
B=set([3,6,9,12])
C=set([2,3,5,7])

In [75]:
A&B&C

{3}

In [76]:
A|B|C

{1, 2, 3, 5, 6, 7, 9, 12}

In [77]:
A-(B|C)

{1}

In [79]:
C.add(11)
C

{2, 3, 5, 7, 11}

In [82]:
B.update([15,18])
B

{3, 6, 9, 12, 15, 18}