# for문의 기본구조
 - for 변수 in 리스트(또는 튜플, 문자열):
 
    수행할 문장1
    
    수행할 문장2

# 예제를 통한 for문 이해하기
## 1. 전형적인 for문

In [3]:
test_list = ['one','two','three']
for i in test_list:
 print(i)

one
two
three

## 2.다양한 for문의 사용

In [4]:
a = [(1,2),(3,4),(5,6)]
for (first,last) in a:
    print(first+last)

3
7
11

-  위 예는 a 리스트의 요솟값이 튜플이기 때문에 각각의 요소가 자동으로 (first, last) 변수에 대입된다

# for문의 응용
 -"총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여 주시오."

In [11]:
mark = [90,25,67,45,80] 

n = 0
for mark in mark:
    n = n +1
    if mark >= 60:
        print("%d번 학생은 합격입니다" %n)
    else:
        print("%d번 학생은 불합격입니다"  %n)

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

각각의 학생에게 번호를 붙여 주기 위해 변수 n 를 사용. 

for문이 한 번씩 수행될 때마다 n는 1씩 증가한다

# for문과 continue

while문에서 나온 continue를 for문에서 사용할 수 있다.

for문 도중에 continue를 만나면 for문 처음으로 돌아간다.

In [13]:
mark = [90,25,67,45,80]

n=0
for mark in mark:
    n=n+1
    if mark <60:
        continue
    print("%d번 학생 축하합니다. 합격입니다" %n)

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

 점수가 60점 이하인 학생인 경우는 mark<60이 참이 되어 continue문이 수행되어 for 문의 처음으로 돌아간다

# for문과 함께 자주 사용하는 range함수
 for문은 숫자 리스트를 자동으로 만들어 주는 range함수와 함꼐 사용하는 경우가 많다.

In [14]:
a = range(10)
a

range(0, 10)

range(10) 0~10 미만의 숫자를 포함하는 range 객체를 만들어준다.

In [15]:
add = 0
for i in range(1,11):
    add = add+i
print(add)

55

1부터 10까지 숫자가 변수 i에 하나씩 대입하여 add =add+i문장을 반복 수행

In [16]:
mark = [90,25,67,45,80]
for n in range(len(mark)):
    if mark[n] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다" %(n+1))

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

len(mark)는 5

range(len(mark))는 range(5)

즉 0~4까지의 숫자가 대입

mark[n]은 90,25,67,45,80의 값을 갖게 된다.

# for와 range를 이용한 구구단

In [17]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j,end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

print(i*j, end = " ")에서 매개변수 end를 넣어 준 이유는 해당 결과값을 출력할 때
다음줄로 넘기지 않고 한줄로 출력하기 위해서이다.

print(' ') 는 2단 3단 등을 구분해주기 위해서 사용

# 리스트 내포 사용하기
 리스트 안에 for 문을 포함

In [18]:
a = [1,2,3,4]
result =[]
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

a 리스트의 각 항목에 3을 곱한 결과를 result리스트에 담음.

In [19]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

리스트 내포안에 if를 사용할 수 있음

짝수만 3을 곱하는 예제

In [20]:
a = [1,2,3,4]
result = [num*3 for num in a if num%2 ==0 ]
print(result)

[6, 12]

## 리스트 내포의 일반 문법

#### [표현식 for 항목 in 반복가능객체 if 조건문]

## for문을 여러 개 사용할 때의 문법

#### [표현식 for 항목1 in 반복가능객체1 if 조건문1
####          for 항목2 in 반복가능객체2 if 조건문2
####          for 항목3 in 반복가능객체3 if 조건문3

리스트 내포를 사용한 구구단

In [21]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]