In [1]:
import numpy as np
import pandas as pd
import mglearn
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina' 
from matplotlib import font_manager, rc
import seaborn as sns

D:\anaconda\lib\site-packages\sklearn\externals\six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
D:\anaconda\lib\site-packages\sklearn\externals\joblib\__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [2]:
df=pd.read_csv("train_datapoint_profile.csv",engine='python', encoding='utf-8')
df.shape

(1997, 5)

In [3]:
df=df.sort_values(by="CUS_ID")

In [4]:
df.head()

      CUS_ID GENDER  AGE RESIDENCE GROUP
756        1     남자   40        충청  M40+
1397       2     여자   20        서울  F20-
480        4     남자   30        광주   M30
869        5     남자   40        경기  M40+
567        8     남자   30        인천   M30

In [6]:
df["GENDER"].unique()

array(['남자', '여자'], dtype=object)

In [7]:
df["RESIDENCE"].unique()

array(['충청', '서울', '광주', '경기', '인천', '부산', '경상', '대전', '전라', '제주', '울산',
       '대구', '강원'], dtype=object)

In [8]:
df["GROUP"].unique()

array(['M40+', 'F20-', 'M30', 'F30', 'M20-', 'F40+'], dtype=object)

In [10]:
df["AGE"].unique()

array([40, 20, 30, 50, 60, 10], dtype=int64)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1997 entries, 756 to 164
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CUS_ID     1997 non-null   int64
 1   GENDER     1997 non-null   object
 2   AGE        1997 non-null   int64
 3   RESIDENCE  1997 non-null   object
 4   GROUP      1997 non-null   object
dtypes: int64(2), object(3)
memory usage: 93.6+ KB

---

In [11]:
DF=df.set_index('CUS_ID')

In [36]:
AAA=DF['GROUP']

In [37]:
one_hot = pd.get_dummies(AAA)

In [41]:
one_hot.to_csv("train_profile_onehot.csv")

----

In [3]:
a = pd.read_pickle("train_datapoint_profile.pkl")

In [4]:
a=a.loc[:,["GROUP"]]

In [6]:
def group (x):
    if x=="M40+" :
        return 5
    elif x=="M30":
        return 4
    elif x=="M20-":
        return 3
    elif x=="F40+":
        return 2
    elif x=="F30":
        return 1
    elif x=="F20-":
        return 0

In [7]:
a["GROUP"].unique()

array(['M40+', 'F20-', 'M30', 'F30', 'M20-', 'F40+'], dtype=object)

In [8]:
a["GROUP"]=a["GROUP"].apply(group)

In [10]:
a.to_csv("train_profile_group_verone.csv")